<form role="form">
    <fieldset>
        <div class="form-group">
            <label for="text">Text Input <abbr title="Required">*</abbr></label>
            <input id="text" type="text" placeholder="Text Input" class="form-control">
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input class="form-control" id="password" type="password" placeholder="Type your Password">
        </div>
        <div class="form-group">
            <label for="webaddress">Web Address</label>
            <input class="form-control" id="webaddress" type="url" placeholder="http://yoursite.com">
        </div>
        <div class="form-group">
            <label for="emailaddress">Email Address</label>
            <input class="form-control" id="emailaddress" type="email" placeholder="name@email.com">
        </div>
        <div class="form-group">
            <label for="search">Search</label>
            <input class="form-control" id="search" type="search" placeholder="Enter Search Term">
        </div>
        <div class="form-group">
            <label for="text">Number Input <abbr title="Required">*</abbr></label>
            <input class="form-control" id="text" type="number" placeholder="Enter a Number" pattern="[0-9]*">
        </div>
        <div class="form-group">
            <label for="textarea">Textarea</label>
            <textarea id="textarea" class="form-control" rows="8" cols="48" placeholder="Enter your message here"></textarea>
        </div>
        <div class="form-group">
            <label class="error">Error Input</label>
            <input class="form-control has-error" type="text" placeholder="Text Input">
        </div>
        <div class="form-group">
            <label  class="valid">Valid</label>
            <input  class="form-control has-success" type="text" placeholder="Text Input">
        </div>
    </fieldset>
</form>